.contact-bar {
    border-right: 2px solid black;
    width: 20rem;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
}

.contact-bar__item {
    margin: 0;
  padding: 0.5rem;
}

.contact-bar__item-img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.img-table {
    width: 90px;
    height: 60px;
    border-radius: 50%;
}

